@import "../variaveis.scss";
@mixin tema($background,$cor,$borda){
	background-color: $background;
	color: $cor;
	border: $borda;
}

ul{
	float:right;
	margin-right: 30px;

	li{
		float: left;
		list-style-type: none;
	
	a{
		display: block;
		text-decoration: none;
		padding: 10px;

	&:hover{
		@include tema($background1,$cor2,$borda2);
	}}}}